/*****************************************************************************/
/*
/* Common
/*
/*****************************************************************************/

/* Global Reset */
* {
  margin: 0;
  padding: 0;
}

html, body { height: 90%; }

body {
  background-color: #FFF;
  font-family: 'Open Sans', sans-serif;
  font: 13.34px;
  font-size: small;
  text-align: center;
}

/*h1, h2, h3, h4, h5, h6 {
  font-size: 100%; }*/

h1 { margin-bottom: 1em; }
p { margin: 1em 0; }

a         { color: #00a; }
a:hover   { color: #000; }
a:visited { color: #a0a; }

/*****************************************************************************/
/*
/* Home
/*
/*****************************************************************************/
ul.posts {
  list-style-type: none;
  margin-bottom: 2em;
}

ul.posts li {
  line-height: 1.75em;
}

ul.posts span {
  color: #aaa;
  font-family:'Open Sans', sans-serif;;
  font-size: 80%;
}

/*****************************************************************************/
/*
/* Site
/*
/*****************************************************************************/
/*****************************************************************************/
/*
/* home
/*
/*****************************************************************************/
div#main {
  width: 965px;
  margin-left: auto;
  margin-right: auto;
}
div.container {/*
    min-height: 10em;
    display: table-cell;
    vertical-align: middle;*/
    }
div.lineleft {
 position:absolute;
 top:60px;
 left:0;
}
div.lineright {
 position:absolute;
 top:60px;
 right:0;
}
div.logo {
  height:130px;
  width:183px;
  position:relative;
  margin:0 auto;
}
div#header_container{
  margin: 40px auto 0;
  width:965px; /*787px;*/
  position:relative;
}

div#menu_container{
  margin-top:20px;
  margin-bottom:20px;
  margin-left:auto;
  margin-right:auto;
  text-align:center;
  /*width:360px;*/
}

div#menu_container li
{
  display:inline;
  list-style-type:none;
  padding-right:10px;

}

div#menu_container a
{
  font-size: 1.1em;
  text-decoration:none;
  color: #A9A9A9;
  text-transform:uppercase;
  font-weight:lighter;
}
div#menu_container .active a
{
  color:#2F4F4F;
}
div#menu_container ul {
  padding-left:0px;
}

div#footer{
  clear:both;
  margin-top:20px;
  margin-bottom:0px;
  margin-left:auto;
  margin-right:auto;
  width:965px;
  text-align:center;
  font-size:0.8em;
  padding-top:40px;
  padding-bottom:10px;
  color: #888888;
}

.fadein { 
  position:relative; 
  height:300px; 
  width:600px; 
  margin-left: auto ; 
  margin-right: auto;
  box-shadow: 7px 7px 15px  #888888;
  padding: 1px;
  border: 3px solid #e6782f;
 }

.fadein img { position:absolute; left:0; top:0; }

.tag {
  margin-top: 20px;
}

.tag h1{
  font-size: 170%;
  font-family: 'Open Sans';
  color: #73a4b5;
  font-weight: 400;
}

/*****************************************************************************/
/*
/* About
/*
/*****************************************************************************/

.about{
  width:965px;
}
.about img{
  width: 170px;
  margin-left: 0px;
  float: left;
}
.about .text{
  width: 60%;
  margin-left: auto;
  margin-right: auto;
  float: left;
  font-weight: 400;
  font-family: 'Open Sans';
  text-align: left;
  padding-left:40px;
  margin-top: 30px;
  font-size: 110%;
  font-weight: 400;
  color: #333333;

}
.about h1{
  color :#e6782f;
  font-size: 170%;
  font-family: 'Open Sans';
  font-weight: 400;
  text-align: left;
}

/*****************************************************************************/
/*
/* Technology
/*
/*****************************************************************************/

.technology{
  width:965px;
}
.technology .Trio{

margin-left: 0px;
float: right;
}
.technology h1{
color :#e6782f;
font-size: 170%;
font-family: 'Open Sans';
font-weight: 400;
text-align: left;
}

.technology h2{
color :#e6782f;
font-size: 125%;
font-family: 'Open Sans';
font-weight: 400;
text-align: left;
}

.technology .text{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  float: left;
  font-weight: 400;
  font-family: 'Open Sans';
  text-align: left;
  font-size: 110%;
  font-weight: 400;
  color: #333333;
}
.technology ul{
  margin-top: 10px;
  margin-left: 30px;
  margin-bottom: 10px;
}

/*************************************************************************/
.CSSTableGenerator1 {
  margin:20px;padding:5px;
  width:100%;
  border:none;
  box-shadow: 3px 3px 20px #888888;
}.CSSTableGenerator1 table{
  width:100%;
  height:100%;
  margin:0px;padding:0px;
  border-collapse:collapse;
}.CSSTableGenerator1 tr:hover td{
  
}
.CSSTableGenerator1 tr:nth-child(odd){ background-color:#eeeeee;  }
.CSSTableGenerator1 tr:nth-child(even)    { background-color:#ffffff; 
}.CSSTableGenerator1 td{
  vertical-align:middle;
  text-align:center; 
  padding:5px;
  font-size:14px;
  font-weight:normal;
  color:#666;
}.CSSTableGenerator1 tr:last-child td{
}.CSSTableGenerator1 tr td:last-child{
}.CSSTableGenerator1 tr:last-child td:last-child{
}
.CSSTableGenerator1 tr:first-child td{

  background-color:#e6782f;
  text-align:center;
  font-size:12px;
  font-family:Open Sans;
  font-weight:bold;
  color:#ffffff;
  text-transform:uppercase;
}
.CSSTableGenerator1 tr:first-child:hover td{

  background-color:#e6782f;
}
.CSSTableGenerator1 tr td:first-child{
  font-weight:bold;
  text-align:right;
  border-left:0px solid #e6782f;
  color:#333;
}
.CSSTableGenerator1 tr td:last-child{
  border-right:0px solid #e6782f;
}
.CSSTableGenerator1 tr:first-child td:first-child{
  text-align:center;
  border-left:0px solid #e6782f;
  color:white;
}
.CSSTableGenerator1 tr:first-child td:last-child{
  border-right:0px solid #e6782f;
}

/*************************************************************************/
/*Solutions
/*************************************************************************/
.solutions{

}
.solutions a{
 color: #e6782f;
}
.solutions{
  width: 90%;
  margin-left: auto;
  margin-right: auto;
  float: left;
  font-weight: 400;
  font-family: 'Open Sans';
  text-align: left;
  font-size: 110%;
  font-weight: 400;
  color: #333333;
}
.solutions h1{
  color :#e6782f;
  font-size: 170%;
  font-family: 'Open Sans';
  font-weight: 400;
  text-align: left;
}

.solutions h2{
  color :#e6782f;
  font-size: 125%;
  font-family: 'Open Sans';
  font-weight: 400;
  text-align: left;
  margin-bottom: 10px;
  margin-top: 10px;
}
.site {
  font-size: 115%;
  text-align: justify;
  width: 42em;
  margin: 3em auto 2em;
  line-height: 1.5em;
}

.site .header a {
  font-weight: bold;
  text-decoration: none;
}

.site .header h1.title {
  display: inline-block;
  margin-bottom: 2em;
}

.site .header h1.title a {
  color: #a00;
}

.site .header h1.title a:hover {
  color: #000;
}

.site .header a.extra {
  color: #aaa;
  margin-left: 1em;
}

.site .header a.extra:hover {
  color: #000;
}

.site .meta {
  color: #aaa;
}

.site .footer {
  font-size: 80%;
  color: #666;
  border-top: 4px solid #eee;
  margin-top: 2em;
  overflow: hidden;
}

.site .footer .contact {
  float: left;
  margin-right: 3em;
}

.site .footer .contact a {
  color: #8085C1;
}

.site .footer .rss {
  margin-top: 1.1em;
  margin-right: -.2em;
  float: right;
}

.site .footer .rss img {
  border: 0;
}

/*****************************************************************************/
/*
/* Posts
/*
/*****************************************************************************/

/* standard */
.post pre {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .4em;
}

.post ul, .post ol {
  margin-left: 1.35em;
}

.post code {
  border: 1px solid #ddd;
  background-color: #eef;
  padding: 0 .2em;
}

.post pre code {
  border: none;
}

/* terminal */
.post pre.terminal {
  border: 1px solid #000;
  background-color: #333;
  color: #FFF;
}

.post pre.terminal code {
  background-color: #333;
}
