---
layout: default
title: News
---

<div class="news">
    <div class="ListNews">
        <br>
        <br>
        <ul>
            {% for post in site.posts %} {% if post.category contains 'news' %}
            <li>
                <div class="post">
                    <h2 class="title">
                      <a href="{{ post.external_url }}" target="_blank" onclick="_gaq.push(['_trackpageview', '{{ post.url }}']);" >{{ post.title }}</a>
                    </h2>
                    <div class="date">Posted on {{ post.date | date: "%-d %B %Y" }} &nbsp; &nbsp; Source {{ post.source }}</div>

                    <!--<p>{{ post.content }}</p> -->
                    <!-- uncomment to enable one liner descriptions -->

                    <br>
                </div>
            </li>
            {% endif %} {% endfor %}
        </ul>
    </div>
</div>
