---
layout: default
title: Blog
---

<div class="blog">
<div class="ListPosts">
<ul>
  {% for post in site.posts %}
      {% if post.categories contains 'blog' %}
        <li class="blog-post-list">
          <h2 class="blog-title"><a href="{{post.url}}">{{ post.title }}</a></h2>
          <div class="date">Posted on {{ post.date | date: "%-d %B %Y" }}</div>
          <p class="blog-content">{{ post.content }}</p>
        </li>
        <hr class="blog-post-divider">
      {% endif %}
  {% endfor %}
  </div>
</ul>
