<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <link href="{{ site.baseurl }}/favicon.ico" rel="shortcut icon" type="image/x-icon">
        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="{{ site.baseurl }}/css/main.css">
        <link rel="stylesheet" type="text/css" media="screen and (max-device-width: 960px)" href="{{ site.baseurl }}/css/mobile.css" />

        <link href='http://fonts.googleapis.com/css?family=Open+Sans:400' rel='stylesheet' type='text/css'>

    </head>
    <body>

      <div id="main">
        <div id="header_container">
          <div class="container lineleft"><img src="{{ site.baseurl }}/images/orange_line.png"/></div>
          <div class="logo"><a link="index.html" ><img src="{{ site.baseurl }}/images/subnero_logo.png"/></a></div>
                <div class="container lineright"><img src="{{ site.baseurl }}/images/orange_line.png"/></div>
        </div>
        <div id="menu_container">
          <ul class="links primary-links">
            <li class="menu-122"><a href="{{ site.baseurl }}/" class="active">Home</a></li>
            <li class="menu-123"><a href="{{ site.baseurl }}/about/">About</a></li>
            <li class="menu-125"><a href="{{ site.baseurl }}/technology/">Technology</a></li>
            <li class="menu-126"><a href="{{ site.baseurl }}/solutions/">Solutions</a></li>
            <li class="menu-127"><a href="{{ site.baseurl }}/blog/">Blog</a></li>
            <li class="menu-128 last"><a href="{{ site.baseurl }}/contact/">Contact</a></li>
          </ul>        
        </div>
          {{ content }}

          <div id="footer">
            <div class="copyright">
              © Subnero Pte Ltd 2013. All rights reserved.
            </div>
          </div>
        </div>

    </body>
</html>
